[
    [
        0,
        "RETROCREATIVE",
        0,
        255,
        0,
        false,
        0,
        0,
        0,
        0,
        0,
        0,
        50
    ],
    [
        1,
        "Don Daemon",
        255,
        0,
        0,
        false,
        0,
        0,
        0,
        112.5,
        0,
        0,
        50
    ],
    [
        2,
        "Sample Name 1",
        0,
        0,
        255,
        false,
        0,
        0,
        0,
        112.5, -112.5,
        0,
        50
    ],
    [
        3,
        "Sample Name 2",
        255,
        0,
        255,
        false,
        0,
        0,
        0,
        112.5,
        0, -112.5,
        50
    ],
    [
        4,
        "Sample Name 3",
        0,
        0,
        102,
        false,
        0,
        0,
        0,
        112.5,
        112.5, -112.5,
        50
    ],
    [
        5,
        "Sample Name 4",
        255,
        255,
        0,
        false,
        0,
        0,
        0,
        112.5,
        225, -112.5,
        50
    ],
    [
        6,
        "Sample Name 5",
        0,
        102,
        153,
        false,
        0,
        0,
        0,
        112.5,
        337.5, -112.5,
        50
    ]
]